<app-header-user></app-header-user>
<section id="about-me">
    <div id="bio-container">
        <div id="photo-container">
            <div class="edit-description-container">
              <a class="fa fa-pencil fa-config" routerLink="/configure/profile"></a>
              <a class="fa fa-trash fa-config" routerLink="/configure/profile"></a>
            </div>
            <figure>
              <img [src]="name.photo" class="photo-item">
            </figure>
            <figcaption>
                <p class="fig-name">{{name.nameUser}}</p>
                <p class="fig-title">{{name.ocupation}}</p>
            </figcaption>
        </div>
        <div class="scroll-container">
          <div *ngFor="let experience of experience" class="description-config-container certification-config">
            <a class="fa fa-pencil fa-config" routerLink="/configure/profile"></a>
            <a class="fa fa-trash fa-config" routerLink="/configure/profile"></a>
            <div class="experience-container">
              <p class="experience-title">{{experience.title}} / {{experience.company}}</p>
              <p class="experience-description">{{experience.description}}</p>
            </div>
          </div>
          <a class="fa fa-plus fa-config"></a>
        </div>
        <div class="scroll-container">
          <div *ngFor="let education of certification" class="description-config-container certification-config">
            <a class="fa fa-pencil fa-config" routerLink="/configure/profile"></a>
            <a class="fa fa-trash fa-config" routerLink="/configure/profile"></a>
            <p class="certification-items">{{education.school}}<br> ↪ {{education.title}}</p>
          </div>
          <a class="fa fa-plus fa-config" routerLink="/login"></a>
        </div>
    </div>
</section>
