<app-header-user></app-header-user>
<section id="projects">
    <div class="slideshow-container">
        <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
        <div>
          <div class="mySlides2" *ngFor="let tech of tech">
            <div class="slider-container-structure">
              <img [src]="tech.img" alt="" class="slide-img-tech">
              <input type="file" name="file-project" class="input-project-file">
              <fieldset>
                <legend>Nombre de la tecnología</legend>
                <input type="text" class="input-text-slider" placeholder="{{tech.title}}">
              </fieldset>
              <fieldset>
                <legend>¿Dominas esta tecnología? ('Sí' o 'No')</legend>
                <input type="text" class="input-text-slider" placeholder="{{tech.level}}">
              </fieldset>
            </div>
            <a routerLink="<!--edit-->" target="_blank" class="save-configprojects-btn configproject-btn">Guardar</a>
            <a routerLink="<!--edit-->" class="delete-configprojects-btn configproject-btn">Borrar</a>
            <a routerLink="/home/skills" target="_blank" class="cancel-configprojects-btn configproject-btn">Cancelar</a>
          </div>
          <div class="slide-bottom-container">
            <p class="title-slide-text">Haz clic en las flechas para desplazar</p>
          </div>
        </div>
        <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
    </div>
</section>
