<app-header-user></app-header-user>
<section id="projects">
    <div class="slideshow-container">
        <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
        <div>
          <div class="mySlides2" *ngFor="let proj of project">
            <div class="slider-container-structure">
              <fieldset>
                <legend>Nombre del proyecto</legend>
                <input type="text" class="input-text-slider" placeholder="{{proj.title}}">
              </fieldset>
              <fieldset>
                <legend>Descripción del proyecto</legend>
                <input type="text" class="input-text-slider" placeholder="{{proj.description}}">
              </fieldset>
              <fieldset>
                <legend>¿Qué tecnologías tiene?</legend>
                <input type="text" class="input-text-slider" placeholder="{{proj.techs}}">
              </fieldset>
              <input type="text" class="input-link-slider" placeholder="Link de deploy del proyecto">
              <input type="text" class="input-link-slider" placeholder="Link del proyecto en GitHub">
            </div>
            <a routerLink="<!--edit-->" class="save-configprojects-btn configproject-btn">Guardar</a>
            <a routerLink="<!--edit-->" class="delete-configprojects-btn configproject-btn">Borrar</a>
            <a routerLink="/home/user/skills" class="cancel-configprojects-btn configproject-btn">Cancelar</a>
          </div>
          <div class="slide-bottom-container">
            <p class="title-slide-text">Haz clic en las flechas para desplazar</p>
          </div>
        </div>
        <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
    </div>
</section>
