/******************************************************************************************************************/
/******************************************************************************************************************/
/***************************************************** footer *****************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/

footer {
  user-select: none;
}

.footer-title {
  display: flex;
  width: 100vw;
  padding: 1em;
  justify-content: center;
  align-items: center;
  color: var(--white-off);
  font-size: 2.4em;
}

.link-footer {
padding-left: 0.2em;
text-decoration: none;
color: var(--white-off);
}


.link-footer:hover {
  letter-spacing: 0.015em;
  transition: 0.5s;
  color: var(--white-on);
}

