.show-mobile {
  z-index: 1000 !important;
  position: fixed;
  width: 100vw;
  background-color: #000000;;
  box-shadow: 0px 2px 5px rgb(black, .2);
}

.show-mobile > div {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border: 0;
  background: transparent;
}
