<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()" [class.active]="activeMenu">
      <img src="../../../../assets/items/nav.svg" alt="menu">
    </button>
    <p class="nav-name">Josue Hoenicka</p>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">X</button>
    <ul>
      <li><a href="">PRODUCTS</a></li>
      <li><a href="">MY CART</a></li>
      <li><a href="">RESET CART</a></li>
      <li><a href="">MORE</a></li>
    </ul>
  </div>
</div>
