<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()" [class.active]="activeMenu">
      <img src="../../../../assets/items/nav.svg" alt="menu">
    </button>
    <p class="nav-name">Josue Hoenicka</p>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">X</button>
    <ul>
      <li><a routerLink="/about">ABOUT</a></li>
      <li><a routerLink="">SKILLS</a></li>
      <li><a routerLink="">EXPERIENCE</a></li>
      <li><a routerLink="">CONTACT</a></li>
      <li><a href="">RESUME</a></li>
    </ul>
  </div>
</div>
