<header>
  <nav>
      <div id="logo-nav-container">
          <img src="../../../assets/others/argprog.png" alt="argentina programa" class="logo-nav">
      </div>
      <div id="navbar-container">
          <a href="#about-me" class="navbar-items">Sobre mí</a>
          <a href="#skills" class="navbar-items">Habilidades</a>
          <a href="#projects" class="navbar-items">Proyectos</a>
          <a href="#contact" class="navbar-items">Redes sociales</a>
          <a routerLink="/register" class="btn-navbar">Register</a>
          <a routerLink="/login" class="btn-navbar btn-navbar-active">Login</a>
      </div>
  </nav>
</header>
