<header>
  <nav>
      <div id="logo-nav-container">
          <img routerLink="/argprog" src="../../../assets/others/argprog.png" alt="argentina programa" class="logo-nav">
      </div>
      <div id="navbar-container">
        <a routerLink="/home/about" class="navbar-items">Sobre mí</a>
        <a routerLink="/home/skills" class="navbar-items">Habilidades</a>
        <a routerLink="/home/projects" class="navbar-items">Proyectos</a>
        <a routerLink="/home/social" class="navbar-items">Redes sociales</a>
          <a routerLink="/register" class="btn-navbar">Register</a>
          <a routerLink="/login" class="btn-navbar btn-navbar-active">Login</a>
      </div>
  </nav>
</header>
