<header>
  <nav>
      <div id="logo-container">
          <select name="language_container" id="language_container">
              <option value="" disabled>Choose a language</option>
              <option value="en">ENGLISH</option>
              <option value="es">SPANISH</option>
              <option value="pt">PORTUGUESE</option>
            </select>
      </div>
      <div id="navbar-container">
          <a href="#about-me" class="navbar-items">About me</a>
          <a href="#skills" class="navbar-items">Skills</a>
          <a href="#projects" class="navbar-items">Projects</a>
          <a href="#contact" class="navbar-items">Contact</a>
          <a href="../../../assets/personal/josuehoenicka.pdf" target="_blank" id="btn-navbar">Resume</a>
      </div>
  </nav>
</header>
