<app-header></app-header>
<section>
  <div class="slider-container">
    <div class="slideshow-container">
      <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
      <div *ngFor="let p of projects" class="slide-container">
        <div class="mySlides2">
          <h4 class="slider-title">{{p.name}}</h4>
          <p class="slider-description">{{p.description}}</p>
          <p class="slider-techs">
            <a class="fa {{p.deploy}}" href="{{p.link_deploy}}"></a>
            <a class="fa {{p.github}}" href="{{p.link_repo}}"></a>
          </p>
          <div class="slide-bottom-container">
            <p class="title-slide-text">Haz clic en las flechas para desplazar</p>
          </div>
        </div>
      </div>
      <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
    </div>
  </div>
  <app-exit></app-exit>
</section>
