app-nav {
  display: none;
}

.btn-hero-container {
  background-color: transparent;
}

.hero-container {
  width: 100vw;
  height: 90vh;
  background-image: url("../../../../assets/backgrounds/crash-bandicoot-wallpaper.gif");
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btn-box {
  width: 20em;
  position: absolute;
  left: 10%;
  top: 10%;
  animation-name: opacityImg;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.btn-start {
  width: 20em;
  position: absolute;
  left: 10%;
  top: 58%;
  background-color: transparent;
  animation-name: opacityImg;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.btn-start:hover, .btn-box:hover {
  opacity: 0.5 !important;
}

/* Tablet */
@media (min-width: 40em) and (max-width: 64.9em){
  .hero-container {
    width: 100vw;
    height: 90vh;
    background-image: none;
  }
  .btn-box {
    width: 15em;
    left: 8%;
    top: 30%;
  }
  .btn-start {
    width: 15em;
    left: 8%;
    top: 60%;
  }
}

/* Mobile */
@media (min-width: 15em) and (max-width: 39.9em){
  app-menu {
    display: none;
  }
  app-nav {
    display: block;
  }
  app-header {
    display: none;
  }
  .hero-container {
    background-image: none;
    grid-template-columns: 1fr;
  }
  .btn-hero-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  .btn-start, .btn-box {
    position: static;
    width: 17em;
  }
}

