/******************************************************************************************************************/
/******************************************************************************************************************/
/****************************************************** hero ******************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/

.hero-container {
  user-select: none;
}

/*
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  user-select: none;
  background: linear-gradient(
      to bottom,
      var(--black-on),
      var(--black-on),
      rgba(3, 5, 12, 0.93),
      rgba(3, 5, 12, 0.9),
      rgba(3, 5, 12, 0.9),
      rgba(3, 5, 12, 0.9),
      rgba(3, 5, 12, 0.93),
      var(--black-on),
      var(--black-on)
  ), url(./assets/others/p-wallpaper.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.title-container {
background-color: transparent;
color: var(--white-off);
font-size: 4em;
padding-top: 3em;
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.start-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 0.5em 0;
}

.btn-start-img, .btn-start {
  background-color: transparent;
}

.btn-start-img {
width: 14.5em;
opacity: 0.3;
}

.btn-start-img:hover {
  transition: 0.5s;
  opacity: 1;
  }

.a-space {
background-color: transparent;
padding-left: 0.2em;
color: var(--white-off);
}

.a-space:hover {
  color: var(--white-on);
  transition: 0.3s;
}
