/***************************************************** techs ******************************************************/

#skills {
    display: grid;
    grid-template-columns: 6fr 3fr;
    width: 100vw;
    height: 100vh;
    user-select: none;
    padding-top: 1em;
}

#tech-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4.7em;
}

#tech-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1em;
}

.tech-items {
    width: 3.33em;
    height: 3.33em;
    margin: 0.66em 5em;
    background-color: transparent;
}

.tech-items:hover {
    cursor: pointer;
}

.si, .SI, .Si, .sI {
    opacity: 0.8;
}

.si:hover, .SI:hover, .Si:hover, .sI:hover, .sí:hover, .SÍ:hover, .Sí:hover, .sÍ:hover{
    transition: 0.3s;
    opacity: 1;
}

.no, .NO, .No, .nO {
    opacity: 0.08;
}

/***************************************************** langs ******************************************************/

#lang-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-top: 5.5em;
}

.lang-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lang-items > p {
    padding-left: 0.5em;
}

.lang-items:hover > p {
    color: var(--white-on);
    transition: 0.3s;
    padding-left: 0.7em;
    cursor: pointer;
}

.lvl-items {
    color: var(--white-off);
    font-size: 2.5em;
}

.lvl-items:hover {
    color: var(--white-on);
    transition: 0.3s;
}

.flag-items {
    width: 3.8em;
    padding: 1.5em 0;
    cursor: pointer;
}
