<header>
    <nav>
        <div id="logo-nav-container">
            <img routerLink="/argprog" src="../../../assets/others/argprog.png" alt="argentina programa" class="logo-nav">
        </div>
        <div id="navbar-container">
            <a routerLink="/home/user/about" class="navbar-items">Sobre mí</a>
            <a routerLink="/home/user/skills" class="navbar-items">Habilidades</a>
            <a routerLink="/home/user/projects" class="navbar-items">Proyectos</a>
            <a routerLink="/home/user/social" class="navbar-items">Redes sociales</a>
            <a routerLink="" class="btn-navbar btn-navbar-active">Logout</a>
        </div>
    </nav>
</header>
