section {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

app-nav {
  display: none;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-photo {
  opacity: 0.7;
  margin-top: 3em;
  width: 20em;
  height: 19.9em;
  border-radius: 100%;
  object-fit: cover;
}

.about-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-bio2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.bio-item {
  margin: 0.25em 0;
  opacity: 1;
}

.about-name, .about-description {
  padding: 0.1em 1em;
}

.about-name {
  opacity: 0.8;
  letter-spacing: 0.1em;
  font-size: 3.5em;
  background: -webkit-linear-gradient(yellow,red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-description {
  opacity: 0.8;
  letter-spacing: 0.1em;
  font-size: 2em;
  color: var(--white);
}

.letters-container {
  display: flex;
  margin: 0.5em 0;
}

.letters-items {
  margin: 0 0.1em;
}

.letter-orange {
  font-size: 2.7em;
  opacity: 0.8;
  letter-spacing: 0.1em;
  background: -webkit-linear-gradient(yellow,red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.letter-white{
  font-size: 2.7em;
  opacity: 0.8;
  color: var(--white);
}

.letters-title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0.25em 0;
  opacity: 0.8;
  font-size: 3em;
}

/* Tablet */
@media (min-width: 40em) and (max-width: 64.9em){
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  app-exit, app-header {
    display: none;
  }
  app-nav {
    display: block;
  }
  .about-content {
    padding: 3.5em 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-bio2 {
    align-items: center;
  }
  .about-name, .about-description {
    padding: 0 0;
    text-align: center;
  }
  .letter-white, .letter-orange {
    font-size: 3em;
  }
}

/* Mobile */
@media (min-width: 15em) and (max-width: 39.9em){
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  app-exit, app-header {
    display: none;
  }
  app-nav {
    display: block;
  }
  .about-content {
    padding: 3.5em 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-bio2 {
    align-items: center;
  }
  .about-name, .about-description {
    padding: 0 0;
    text-align: center;
  }
  .letter-white, .letter-orange {
    font-size: 2.5em;
  }
  .letters-title {
    font-size: 3.5em;
  }
}

