/* root */

:root {
    --black-on: #081030;
    --white-on: #dfe8ff;
    --white-off: #4e5985;
    --green: #23eb00;
}

/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: monospace;
    text-decoration: none;
    background-color: var(--black-on);
}

/* header */

header {
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    width: 100vw;
}

#logo {
    font-size: 0.8em;
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    margin: 0 0 0 1em;
    color: var(--green);
}

#navbar {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: flex-end;
}

.navbar-link, #navbar button a {
    font-size: 0.6em;
    margin: 0 1em;
    color: var(--green);
}

#navbar button {
    display: flex;
    align-items: center;
    margin: 0 1em 0 0.5em;
    border: 1px var(--green) solid;
    padding: 0.2em;
}