/*****************************************************************/
/**************************** general ****************************/
/*****************************************************************/

:root {
    --black-on: #03050c;
    --white-on: #dfe8ff;
    --white-off: #4e5985;
    --green: #008f07;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Alumni Sans Pinstripe';
    text-decoration: none;
    background-color: var(--black-on);
}

/*****************************************************************/
/**************************** header *****************************/
/*****************************************************************/

header {
    position: fixed;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**************************** nav *****************************/

nav {
    display: flex;
    width: 100vw;
    user-select: none;
    z-index: 1000;
}

/* containers */

#logo-container {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    margin: 0 0 0 1em;
    color: var(--green);
}

#navbar-container {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: flex-end;
}

/* items */

#logo-item {
    text-decoration: none;
    color: var(--green);
}

.navbar-items {
    color: var(--white-off)
}

.navbar-items, #btn-navbar {
    font-size: 1.8em;
    margin: 0 1em;
}


.navbar-items:hover {
    color: var(--green);
}

/* button */

#btn-navbar {
    color: var(--green);
    padding: 0.5em;
    border-radius: 1em;
    background-color: var(--white-off);
    color: var(--black-on);
    margin-right: 1.5em;
}

#btn-navbar:hover {
    transition: 0.3s;
    background-color: var(--green);
}

/**************************** hero ****************************/

/* container */ 

#hero-container {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    user-select: none;
}

/* title */

#hero-title {
    color: var(--green);
    padding-top: 1em;
    font-size: 6.5em;
}

/* button */

#btn-hero {
    padding: 0.7em;
    background-color: var(--white-off);
    color: var(--black-on);
    border-radius: 1em;
    font-size: 2em;
}

#btn-hero:hover {
    transition: 0.3s;
    background-color: var(--green);
}

/*****************************************************************/
/***************************** main ******************************/
/*****************************************************************/

/**************************** about me ****************************/

#about-me {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    user-select: none;
}

/* containers */

#bio-container {
    display: grid;
    grid-template-columns: 3fr 2fr 4fr;
    padding-top: 1em;
}

#photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

#certification-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 4em;
}

/* items */

#photo-item {
    width: 17em;
    height: 22em;
    border-radius: 1em;
}

#photo-item:hover {
    box-shadow: #4e598570 10px 10px, #4e598554 20px 20px, #4e598538 30px 30px, #4e59850e 40px 40px;
    transition: 0.5s;
}

.description-items {
    font-size: 2em;
    color: var(--white-off);
    text-align: justify;
}

.description-items:hover {
    color: var(--white-on);
    transition: 0.3s;
}

.certification-items {
    font-size: 2.2em;
    padding: 0.1em 0;
    color: var(--white-off);
}

.certification-items:hover {
    transition: 0.3s;
    color: var(--white-on);
}

/**************************** language ****************************/

#skills {
    display: grid;
    grid-template-columns: 6fr 3fr;
    width: 100vw;
    height: 100vh;
    user-select: none;
}

/* containers */

#tech-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tech-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#lang-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

/* items */ 

.lang-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lang-items:hover > p {
    color: var(--white-on);
    transition: 0.3s;
    padding-left: 0.3em;
}

.lvl-items {
    color: var(--white-off);
    font-size: 2.5em;
    padding-left: 0.1em;
}

.lvl-items:hover {
    color: var(--white-on);
    transition: 0.3s;
}

.flag-items {
    width: 5em;
    padding: 0.4em;
}

.tech-items {
    width: 6em;
    height: 6em;
    margin: 0.5em 0.5em;
    padding: 0.3em;
    border-radius: 1em;
}

.tech-items:hover {
    background-color: var(--white-on);
    box-shadow: #4e598570 10px 10px, #4e598554 15px 15px, #4e598538 20px 20px, #4e59850e 25px 25px;
    transition: 0.3s;
}

/**************************** projects ****************************/

#projects {
    height: 100vh;
    user-select: none;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: -1;
}

/* slider */

.slider-title{
    font-size: 2.5em;
    color: var(--white-on);
}

.slider-description {
    font-size: 1.5em;
    color: var(--white-off);
}

.mySlides2 {
    display: none;
}

.slideshow-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev, .next {
  cursor: pointer;
  padding: 2.5em;
  color: var(--white-off);
  font-size: 3em;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 0.1em 0.1em 0;
  user-select: none;
}

.prev {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.next {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.prev:hover, .next:hover {
    transition: 0.3s;
    font-size: 3em;
    color: var(--white-on);
}

.slider-img {
    width: 20em;
}

.slider-icons {
    font-size: 2em;
    cursor: pointer;
}

#deslizar-title {
    font-size: 2em;
    color: var(--white-off);
}

/**************************** contact ****************************/

#contact {
    display: grid;
    grid-template-columns: 6fr 3fr;
    width: 100vw;
    height: 100vh;
    user-select: none;
}

/* containers */

#social-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

#form-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* title */

.social-title {
    color: var(--white-off);
}

.social-title:hover {
    color: var(--white-on);
    transition: 0.3s;
}

/* items */

.social-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-items > p {
    padding-left: 0.3em;
}

.social-items:hover > p {
    color: var(--white-on);
    transition: 0.3s;
    padding-left: 0.5em;
}

/* icon */

.fa {
    text-decoration: none;
    color: var(--white-off);
}

.social-items:hover > .fa {
    color: var(--white-on);
}

/* form */

input {
    width: 15em;
    color: var(--white-on);
    padding: 0.3em;
    margin: 0.5em 0;
    border: none;
    outline: none;  
    border-bottom: 1px var(--white-off) solid;
}

input:focus {
    border-bottom: 1px var(--green) solid;
}

textarea {
    resize: none;
    width: 15em;
    height: 6em;
    margin: 1em 0;
    padding: 0.3em;
    border: none;
    color: var(--white-on);
    outline: none;  
    border-bottom: 1px var(--white-off) solid;
}

textarea:focus {
    border-bottom: 1px var(--green) solid;
}

#btn-form {
    background-color: var(--white-off);
    width: 10em;
    height: 2em;
    border-radius: 1em;
}

#btn-form:hover {
    background-color: var(--green);
    transition: 0.1s;
    cursor: pointer;
}

#btn-form:active {
    background-color: var(--white-off);
}

footer {
    user-select: none;
}

/*****************************************************************/
/**************************** footer *****************************/
/*****************************************************************/

#footer-title {
    display: flex;
    width: 100vw;
    padding: 1.5em;
    justify-content: center;
    align-items: center;
    color: var(--green);
    font-size: 0.6em;
    font-family: monospace;
}