/* root */

:root {
    --black-on: #03050c;
    --white-on: #dfe8ff;
    --white-off: #4e5985;
    --green: #008f07;
}

/*****************************************************************/
/**************************** general ****************************/
/*****************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Alumni Sans Pinstripe';
    text-decoration: none;
    background-color: var(--black-on);
}

a {
    text-decoration: none;
    color: var(--white-off);
}

a:hover {
    color: var(--green);
}

/*****************************************************************/
/**************************** header *****************************/
/*****************************************************************/

header {
    position: fixed;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**************************** nav *****************************/

nav {
    display: flex;
    width: 100vw;
}

#logo {
    font-size: 1em;
    font-weight: bold;
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    margin: 0 0 0 1em;
    color: var(--green);
}

#navbar {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: flex-end;
}

.navbar-link, #btn-resume {
    font-size: 0.8em;
    margin: 0 1em;
}

.navbar-link {
    color: var(--white-off)
}

.navbar-link:hover {
    color: var(--green);
}

#btn-resume {
    color: var(--green);
    padding: 0.5em;
    border-radius: 1em;
    background-color: var(--white-off);
    color: var(--black-on);
}

#btn-resume:hover {
    transition: 0.3s;
    background-color: var(--green);
}

/**************************** hero ****************************/

#hero {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#title-hero, #btn-hero {
    color: var(--green);
}

#title-hero {
    padding-top: 1em;
    font-size: 3em;
}

#btn-hero {
    padding: 0.7em;
    background-color: var(--white-off);
    color: var(--black-on);
    border-radius: 1em;
}

#btn-hero:hover {
    transition: 0.3s;
    background-color: var(--green);
}

/*****************************************************************/
/***************************** main ******************************/
/*****************************************************************/


/**************************** about me ****************************/

#about-me {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#bio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1em;
}

#certification-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bio {
    color: var(--white-off);
    text-align: justify;
    padding: 0 1em 0 0;
}

#bio:hover {
    color: var(--white-on);
    transition: 0.3s;
}

.certification {
    padding: 0.3em 0;
}

/**************************** language ****************************/

#skills {
    display: grid;
    grid-template-columns: 4fr 2fr;
    width: 100vw;
    height: 100vh;
}

#languages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.level-lang {
    color: var(--white-off);
}

#es:hover, #pt:hover, #en:hover {
    color: var(--white-on);
}

/**************************** contact ****************************/
