<app-header></app-header>
<app-nav></app-nav>
<section>
  <div class="contact-container">
    <div class="contact-subcontainer">
      <a class="social-link social-item" href="https://www.linkedin.com/in/josuehoenicka/" target="_blank">
        <img class="crash-social" src="../../../../assets/items/crash-social.gif" width="250" alt="">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
    <div class="contact-subcontainer">
      <a class="social-link social-item" href="https://github.com/josuehoenicka" target="_blank">
        <img class="crash-social" src="../../../../assets/items/crash-social.gif" width="250" alt="">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <div class="contact-subcontainer">
      <a class="social-link social-item" href="https://mail.google.com/mail/?view=cm&fs=1&to=josuee.vzla%40gmail.com" target="_blank">
        <img class="crash-social" src="../../../../assets/items/crash-social.gif" width="250" alt="">
        <i class="fa fa-google"></i>
      </a>
    </div>
  </div>
  <app-exit></app-exit>
</section>
