.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    user-select: none;
    background: linear-gradient(
        to bottom,
        rgba(3, 5, 12, 0.85),
        rgba(3, 5, 12, 0.85),
        rgba(3, 5, 12, 0.85),
        rgba(3, 5, 12, 0.85),
        rgba(3, 5, 12, 0.85)
    ), url(../../../assets/others/error404.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-container {
background-color: transparent;
color: var(--white-on);
font-size: 2.5em;
padding: 5em 3em 0em 3em;
width: 100vw;
height: 50vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.start-container {
width: 100vw;
display: flex;
justify-content: center;
background-color: transparent;
padding: 0.5em 0;
}

.btn-try-img, .btn-try {
background-color: transparent;
}

.btn-try-img {
width: 25em;
opacity: 0.3;
}

.btn-try-img:hover {
transition: 0.5s;
opacity: 1;
}

.a-space {
background-color: transparent;
padding-left: 0.2em;
color: var(--white-on);
}
