<app-header></app-header>
<section>
  <div class="skills-container">
    <div class="skills-grid-container">
      <p class="skills-titles">Tecnologías</p>
      <div class="skills-level-title">
        <p class="skills-titles title-active">Experiencia (AÑOS)</p>
      </div>
      <p class="skills-tech">HTML</p>
      <div class="skills-level-container">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech">CSS/SCSS</p>
      <div class="skills-level-container">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech">JavaScript</p>
      <div class="skills-level-container">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech">TypeScript</p>
      <div class="skills-level-container">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech disabled">Golang</p>
      <div class="skills-level-container disabled">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech disabled">Dart</p>
      <div class="skills-level-container disabled">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech">Angular</p>
      <div class="skills-level-container">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech disabled">Node/Express</p>
      <div class="skills-level-container disabled">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech disabled">Nest.js</p>
      <div class="skills-level-container disabled">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech disabled">Flutter</p>
      <div class="skills-level-container disabled">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech disabled">Docker</p>
      <div class="skills-level-container disabled">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech">Git</p>
      <div class="skills-level-container">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level disabled" src="./../../../../assets/items/mango.png" alt="">
      </div>
    </div>
  </div>
  <app-nav></app-nav>
</section>
