<app-header></app-header>
<section>
  <div class="skills-container">
    <div class="skills-grid-container">
      <p class="skills-tech">HTML5</p>
      <div class="skills-level-container">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech">CSS3/SASS</p>
      <div class="skills-level-container">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech">JavaScript</p>
      <div class="skills-level-container">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech">TypeScript</p>
      <div class="skills-level-container">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech">Angular</p>
      <div class="skills-level-container">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech">Git</p>
      <div class="skills-level-container">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech">Webpack</p>
      <div class="skills-level-container">
        <img class="skills-level" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech minusOne">Node.js</p>
      <div class="skills-level-container">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech minusOne">Express.js</p>
      <div class="skills-level-container">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech minusOne">Nest.js</p>
      <div class="skills-level-container">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech minusOne">MongoDB</p>
      <div class="skills-level-container">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
      </div>
      <p class="skills-tech minusOne">Docker</p>
      <div class="skills-level-container">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level minusOne" src="./../../../../assets/items/mango.png" alt="">
      </div>
    </div>
  </div>
  <app-nav></app-nav>
</section>
