<app-header-user></app-header-user>
<section id="contact">
    <div id="social-container">
      <div id="github" class="social-items">
        <a href="{{name.github}}" target="_blank" class="fa fa-social fa-github"></a>
        <a href="{{name.github}}" target="_blank" class="social-title">GITHUB</a>
      </div>
      <div id="linkedin" class="social-items">
          <a href="{{name.linkedin}}" target="_blank" class="fa fa-social fa-linkedin"></a>
          <a href="{{name.linkedin}}" target="_blank" class="social-title">LINKEDIN</a>
      </div>
      <div id="instagram" class="social-items">
          <a href="{{name.instagram}}" target="_blank" class="fa fa-social fa-instagram"></a>
          <a href="{{name.instagram}}" target="_blank" class="social-title">INSTAGRAM</a>
      </div>
      <a class="fa fa-pencil fa-config-social" routerLink="/configure/profile"><p class="fa-with-text">Editar redes sociales</p></a>
    </div>
</section>
