/* reutilice el código de building */

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    user-select: none;
    background: linear-gradient(
        to bottom,
        rgba(3, 5, 12, 0.96),
        rgba(3, 5, 12, 0.96),
        rgba(3, 5, 12, 0.96),
        rgba(3, 5, 12, 0.96),
        rgba(3, 5, 12, 0.96)
    ), url(../../../assets/others/working.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-container {
background-color: transparent;
color: var(--white-off);
font-size: 2.5em;
width: 100vw;
height: 50vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
