<app-header></app-header>
<app-nav></app-nav>
<section>
  <div class="skills-container">
    <div class="s">
      <p class="skills-titles">Experiencia (AÑOS)</p>
    </div>
    <div *ngFor="let t of techs" class="techs-container">
      <p class="skills-tech">{{t.name}}</p>
      <div class="skills-level-container">
        <img class="skills-level {{t.time.one}}" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level {{t.time.two}}" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level {{t.time.three}}" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level {{t.time.four}}" src="./../../../../assets/items/mango.png" alt="">
        <img class="skills-level {{t.time.five}}" src="./../../../../assets/items/mango.png" alt="">
      </div>
    </div>
  </div>
  <app-exit></app-exit>
</section>
