section {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

app-nav {
  display: none;
}

.experience-title {
  display: flex;
  justify-content: flex-end;
  width: 70vw;
  margin-bottom: 2em;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.techs-container {
  display: flex;
  width: 70vw;
  justify-content: space-between;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-tech {
  font-size: 4em;
  opacity: 0.7;
  letter-spacing: 0.1em;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.35em 0;
}

.skills-titles {
  font-size: 2.1em;
  opacity: 0.7;
  letter-spacing: 0.15em;
  background: -webkit-linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills-level {
  width: 4em;
}

.active {
  margin-left: 3em;
}

.disabled {
  opacity: 0.1;
}

/* Tablet */
@media (min-width: 40em) and (max-width: 64.9em){
  app-exit, app-header {
    display: none;
  }
  app-nav {
    display: block;
  }
  .skills-level-container {
    display: none;
  }
  .experience-title {
    display: none;
  }
  .skills-container {
    height: 110vh;
  }
  .techs-container {
    width: 100vw;
    justify-content: center;
  }
  .skills-tech {
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5em;
  }
}

/* Tablet 2 */
@media (min-width: 65em) and (max-width: 81.5em){
  app-nav {
    display: none;
  }
  .skills-level-container {
    display: none;
  }
  .experience-title {
    display: none;
  }
  .skills-container {
    height: 110vh;
  }
  .techs-container {
    width: 100vw;
    justify-content: center;
  }
  .skills-tech {
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5em;
  }
}

/* Mobile */
@media (min-width: 15em) and (max-width: 39.9em){
  app-exit, app-header {
    display: none;
  }
  app-nav {
    display: block;
  }
  .skills-level-container {
    display: none;
  }
  .experience-title {
    display: none;
  }
  .skills-container {
    height: 100vh;
  }
  .techs-container {
    width: 100vw;
    justify-content: center;
  }
  .skills-tech {
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5em;
  }
}

