<app-header></app-header>
<section>
  <div class="about-content">
    <div class="about-bio">
      <img class="about-photo" src="../../../../assets/personal/photo.jpg" alt="">
      <h1 class="about-name bio-item">Josue Hoenicka</h1>
      <h3 class="about-description bio-item">Front End Developer</h3>
    </div>
    <div class="about-bio">
      <div class="letters-container">
        <p class="letter-orange letters-items">Born:</p>
        <p class="letter-white letters-items">Caracas, Venezuela</p>
      </div>
      <div class="letters-container">
        <p class="letter-orange letters-items">Live:</p>
        <p class="letter-white letters-items">Rosario, Argentina</p>
      </div>
      <div class="letters-container">
        <p class="letter-orange letters-items">Study:</p>
        <p class="letter-white letters-items">Software / Languages</p>
      </div>
      <div class="letters-container">
        <p class="letter-orange letters-items">Hobby:</p>
        <p class="letter-white letters-items">Freestyle Football</p>
      </div>
      <div class="letters-container">
        <p class="letter-orange letters-items">Songs:</p>
        <p class="letter-white letters-items">R&B/Soul / Pop</p>
      </div>
    </div>
  </div>
  <app-nav></app-nav>
</section>
