<main>
  <section id="about-me">
      <div id="bio-container">
          <div id="photo-container">
              <figure>
                  <img src="../../../assets/personal/josuehoenicka.png" id="photo-item">
              </figure>
              <figcaption>
                  <p class="fig-name">{{name.nameUser}}</p>
                  <p class="fig-title">{{name.ocupation}}</p>
              </figcaption>
          </div>
          <div id="description-container">
              <p class="description-items">Edad: {{name.description.age}}</p>
              <p class="description-items">Nacionalidad: {{name.description.nationality}}</p>
              <p class="description-items">Localidad: {{name.description.location}}</p>
            <p class="description-items">Intereses: {{name.description.likes}}</p>
              <p class="description-items">Hobbies: {{name.description.hobbies}}</p>
              <p class="description-items">Música: {{name.description.music}}</p>
          </div>
          <div id="certification-container" >
            <li *ngFor="let education of main">
              <p class="certification-items">{{education.school}}<br>↪ {{education.title}}</p>
            </li>
          </div>
      </div>
  </section>
  <section id="skills">
      <div id="tech-container">
          <div id="tech-grid-container">
            <img title="JavaScript" class="tech-items tech-powerful" src="../../../assets/tech/javascript.png" alt="JavaScript" width="40" height="40">
            <img title="Java" class="tech-items tech-powerful" src="../../../assets/tech/java.png" alt="Java">
            <img title="Dart" class="tech-items tech-weak" src="../../../assets/tech/dart.png" alt="Dart">
            <img title="MySQL" class="tech-items tech-powerful" src="../../../assets/tech/mysql.png" alt="MySQL">
            <img title="Angular" class="tech-items tech-powerful" src="../../../assets/tech/angular.svg" alt="Angular">
            <img title="Spring Boot" class="tech-items tech-powerful" src="../../../assets/tech/spring_boot.png" alt="Spring Boot">
            <img title="Flutter" class="tech-items tech-weak" src="../../../assets/tech/flutter.png" alt="Flutter">
            <img title="MongoDB" class="tech-items tech-weak" src="../../../assets/tech/mongodb.svg" alt="MongoDB">
            <img title="NodeJS" class="tech-items tech-weak" src="../../../assets/tech/node.png" alt="NodeJS">
            <img title="ExpressJS" class="tech-items tech-weak" src="../../../assets/tech/express.png" alt="ExpressJS">
            <img title="Docker" class="tech-items tech-weak" src="../../../assets/tech/docker.png" alt="Docker">
            <img title="Git" class="tech-items tech-powerful" src="../../../assets/tech/git.png" alt="Git">
            <img title="Redux" class="tech-items tech-weak" src="../../../assets/tech/redux.png" alt="Redux">
            <img title="Graphql" class="tech-items tech-weak" src="../../../assets/tech/graphql.png" alt="Graphql">
            <img title="CCS3" class="tech-items tech-powerful" src="../../../assets/tech/css.svg" alt="CCS3">
            <img title="HTML5" class="tech-items tech-powerful" src="../../../assets/tech/html.svg" alt="HTML5">
          </div>
      </div>
      <div id="lang-container">
          <div *ngFor="let languages of lang" class="lang-items">
              <img [src]="languages.img" class="flag-items">
              <p class="lvl-items">{{languages.level}}</p>
          </div>
      </div>
  </section>
  <section id="projects">
      <div class="slideshow-container">
          <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
          <div>
            <div class="mySlides2">
              <h4 class="slider-title">NEW</h4>
              <p class="slider-description">Insert Project</p>
              <div id="slider-img-container">
                <img src="../../../assets/others/insert.png" width="200">
              </div>
            </div>
            <div class="mySlides2">
                <h4 class="slider-title">Codebash</h4>
                <p class="slider-description">Ecommerce Store</p>
                <div id="slider-img-container">
                  <img src="../../../assets/projects/building.png" width="200">
                </div>
            </div>
            <div class="mySlides2">
                <h4 class="slider-title">Techanges</h4>
                <p class="slider-description">Social Media</p>
                <div id="slider-img-container">
                    <img src="../../../assets/projects/building.png" width="200">
                </div>
            </div>
            <div class="mySlides2">
              <h4 class="slider-title">Joniking</h4>
              <p class="slider-description">Website</p>
              <div id="slider-img-container">
                <img src="../../../assets/projects/building.png" width="200">
              </div>
            </div>
            <p id="deslizar-title">Click on the arrows</p>
          </div>
          <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
      </div>
  </section>
  <section id="contact">
      <div id="form-container">
          <input type="text" name="name" id="name" placeholder="Name" autocomplete="off">
          <input type="email" name="email" id="email" placeholder="Email" autocomplete="off" required>
          <textarea name="message" id="message" placeholder="Message"></textarea>
          <button type="submit" id="btn-form" onclick="buildingForm()">SEND</button>
      </div>
      <div id="social-container">
          <div id="github" class="social-items">
              <a href="https://github.com/josuehoenicka" target="_blank" class="fa fa-github"></a>
              <a href="https://github.com/josuehoenicka" target="_blank" class="social-title">GITHUB</a>
          </div>
          <div id="linkedin" class="social-items">
              <a href="https://www.linkedin.com/in/josuehoenicka/" target="_blank" class="fa fa-linkedin"></a>
              <a href="https://www.linkedin.com/in/josuehoenicka/" target="_blank" class="social-title">LINKEDIN</a>
          </div>
          <div id="instagram" class="social-items">
              <a href="https://www.instagram.com/josuehoenicka/" target="_blank" class="fa fa-instagram"></a>
              <a href="https://www.instagram.com/josuehoenicka/" target="_blank" class="social-title">INSTAGRAM</a>
          </div>
      </div>
  </section>
</main>
