/*****************************************************************************************************************/
/*****************************************************************************************************************/
/*************************************************** about me ****************************************************/
/*****************************************************************************************************************/
/*****************************************************************************************************************/

/*************************************************** general ****************************************************/

#about-me {
  padding-top: 2em;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#bio-container {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    width: 100vw;
    padding-top: 1em;
}

#photo-container {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin-top: 2em;
  height: 70vh;
  padding-top: 1em;
  line-height: 2em;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: 1.5em;
}

.fa-pencil {
  color: var(--yellow_off);
}

.fa-trash {
  font-size: 2em !important;
  color: var(--red_off);
}

.fa-pencil:hover {
  color: var(--yellow_on);
  cursor: pointer;
  transition: 0.3s;
}

.fa-trash:hover {
  color: var(--red_on);
  cursor: pointer;
  transition: 0.3s;
}

.fa-config {
  font-size: 2em !important;
}

/*************************************************** working ****************************************************/

figure {
    padding-top: 2em;
}

figcaption {
    background-color: transparent;
}

.fig-name {

  margin-top: 0.5em;
    background-color: transparent;
    font-size: 3em;
    text-align: center;
    color: var(--white-off);
}

.fig-title {
    margin-top: 0.5em;
    background-color: transparent;
    font-size: 1.7em;
    text-align: center;
    color: var(--white-off);
}

.fig-name:hover, .fig-title:hover {
    color: var(--white-on);
    transition: 0.3s;
}



#photo-item {
    background-repeat: no-repeat;
    background-size: cover;
    width: 17em;
    height: 22em;
    border-radius: 1em;
    opacity: 0.5;
}

#photo-item:hover {
    box-shadow: #4e598570 5px 5px, #4e598554 10px 10px, #4e598538 15px 15px, #4e59850e 20px 20px;
    opacity: 1;
    transition: 0.8s;
}

.description-items {
    font-size: 2em;
    color: var(--white-off);
    text-align: justify;
}

.description-items:hover {
    color: var(--white-on);
    transition: 0.3s;
}

.education-items {
  font-size: 2em;
  color: var(--white-off);
}

.education-items:hover {
  transition: 0.3s;
  color: var(--white-on);
}

.certification-items {
    font-size: 2em;
    color: var(--white-off);
}

.certification-items:hover {
    transition: 0.3s;
    color: var(--white-on);
}

#skills {
    display: grid;
    grid-template-columns: 6fr 3fr;
    width: 100vw;
    height: 100vh;
    user-select: none;
}

/************************************************** description ***************************************************/

#description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.description-config-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.description-items {
  padding-left: 0.5em;
}

/**************************************************** experience ****************************************************/

/************************************************** certification ***************************************************/

