<main>
  <section id="about-me">
      <div id="bio-container">
          <div id="photo-container">
              <figure>
                  <img src="../../../assets/personal/josuehoenicka.png" id="photo-item">
              </figure>
              <figcaption>
                  <p class="fig-name">{{name.nameUser}}</p>
                  <p class="fig-title">Full Stack Developer</p>
              </figcaption>
          </div>
          <div id="description-container">
              <p class="description-items">Founder & Dev at Hoenixer</p>
              <p class="description-items">Co-Founder & Dev at Codebash</p>
              <p class="description-items">Student at Beppo Levi</p>
          </div>
          <div id="certification-container" >
            <li *ngFor="let education of main">
              <p class="certification-items">{{education.school}}<br>↪ {{education.title}}</p>
            </li>
          </div>
      </div>
  </section>
  <section id="skills">
      <div id="tech-container">
          <div id="tech-grid-container">
              <img title="JavaScript" class="tech-items tech-powerful" src="../../../assets/tech/javascript.png" alt="JavaScript" width="40" height="40">
              <img title="Java" class="tech-items tech-powerful" src="../../../assets/tech/java.png" alt="Java">
              <img title="Go" class="tech-items tech-weak" src="../../../assets/tech/go.png" alt="Go">
              <img title="Dart" class="tech-items tech-weak" src="../../../assets/tech/dart.png" alt="Dart">
              <img title="Angular" class="tech-items tech-powerful" src="../../../assets/tech/angular.svg" alt="Angular">
              <img title="NGRX" class="tech-items tech-weak" src="../../../assets/tech/ngrx.svg" alt="NGRX">
              <img title="Redux" class="tech-items tech-weak" src="../../../assets/tech/redux.png" alt="Redux">
              <img title="Flutter" class="tech-items tech-weak" src="../../../assets/tech/flutter.png" alt="Flutter">
              <img title="NodeJS" class="tech-items tech-weak" src="../../../assets/tech/nodejs.png" alt="NodeJS">
              <img title="Spring Boot" class="tech-items tech-weak" src="../../../assets/tech/spring_boot.png" alt="Spring Boot">
              <img title="MySQL" class="tech-items tech-powerful" src="../../../assets/tech/mysql.png" alt="MySQL">
              <img title="MongoDB" class="tech-items tech-weak" src="../../../assets/tech/mongodb.svg" alt="MongoDB">
              <img title="Heroku" class="tech-items tech-weak" src="../../../assets/tech/heroku.webp" alt="Heroku">
              <img title="Firebase" class="tech-items tech-weak" src="../../../assets/tech/firebase.svg" alt="Firebase">
              <img title="HTML5" class="tech-items tech-powerful" src="../../../assets/tech/html.svg" alt="HTML5">
              <img title="CCS3" class="tech-items tech-powerful" src="../../../assets/tech/css.svg" alt="CCS3">
          </div>
      </div>
      <div id="lang-container">
          <div id="es" class="lang-items">
              <img src="../../../assets/lang/es.svg" class="flag-items">
              <p class="lvl-items">NATIVE</p>
          </div>
          <div id="pt" class="lang-items">
              <img src="../../../assets/lang/br.svg" class="flag-items">
              <p class="lvl-items">ADVANCED</p>
          </div>
          <div id="en" class="lang-items">
              <img src="../../../assets/lang/um.svg" class="flag-items">
              <p class="lvl-items">INTERMEDIATE</p>
          </div>
          <div id="pt" class="lang-items">
              <img src="../../../assets/lang/fr.webp" class="flag-items">
              <p class="lvl-items">BEGINNER</p>
          </div>
      </div>
  </section>
  <section id="projects">
      <div class="slideshow-container">
          <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
          <div>
          <div class="mySlides2">
              <h4 class="slider-title">CDS</h4>
              <p class="slider-description">Website</p>
              <a href="https://caminodesantidad.github.io" target="_blank" class="fa fa-chrome"></a>
              <a class="fa fa-lock"></a>
              <div id="slider-img-container">
                <img src="../../../assets/projects/building.png" width="200">
              </div>
          </div>
          <div class="mySlides2">
              <h4 class="slider-title">CDS</h4>
              <p class="slider-description">Ecommerce Store</p>
              <a class="fa fa-chrome" onclick="buildingProjects()"></a>
              <a class="fa fa-lock"></a>
              <div id="slider-img-container">
                <img src="../../../assets/projects/building.png" width="200">
              </div>
          </div>
          <div class="mySlides2">
              <h4 class="slider-title">Techanges</h4>
              <p class="slider-description">Social Media</p>
              <a class="fa fa-chrome" onclick="buildingProjects()"></a>
              <a class="fa fa-lock"></a>
              <div id="slider-img-container">
                  <img src="../../../assets/projects/building.png" width="200">
              </div>
          </div>
          <div class="mySlides2">
              <h4 class="slider-title">Joniking</h4>
              <p class="slider-description">Website</p>
              <a class="fa fa-chrome" onclick="buildingProjects()"></a>
              <a href="https://github.com/josuehoenicka/playHoenix" target="_blank" class="fa fa-github"></a>
              <div id="slider-img-container">
                <img src="../../../assets/projects/building.png" width="200">
              </div>
          </div>
          <div class="mySlides2">
            <h4 class="slider-title">ArgProg</h4>
            <p class="slider-description">CRUD Portfolio</p>
            <a class="fa fa-chrome" onclick="buildingProjects()"></a>
            <a href="https://github.com/josuehoenicka/crud_portfolio" target="_blank" class="fa fa-github"></a>
            <div id="slider-img-container">
              <img src="../../../assets/projects/building.png" width="200">
            </div>
          </div>
          <p id="deslizar-title">Click on the arrows</p>
          </div>
          <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
      </div>
  </section>
  <section id="contact">
      <div id="form-container">
          <input type="text" name="name" id="name" placeholder="Name" autocomplete="off">
          <input type="email" name="email" id="email" placeholder="Email" autocomplete="off" required>
          <textarea name="message" id="message" placeholder="Message"></textarea>
          <button type="submit" id="btn-form" onclick="buildingForm()">SEND</button>
      </div>
      <div id="social-container">
          <div id="github" class="social-items">
              <a href="https://github.com/josuehoenicka" target="_blank" class="fa fa-github"></a>
              <a href="https://github.com/josuehoenicka" target="_blank" class="social-title">GITHUB</a>
          </div>
          <div id="linkedin" class="social-items">
              <a href="https://www.linkedin.com/in/josuehoenicka/" target="_blank" class="fa fa-linkedin"></a>
              <a href="https://www.linkedin.com/in/josuehoenicka/" target="_blank" class="social-title">LINKEDIN</a>
          </div>
          <div id="instagram" class="social-items">
              <a href="https://www.instagram.com/josuehoenicka/" target="_blank" class="fa fa-instagram"></a>
              <a href="https://www.instagram.com/josuehoenicka/" target="_blank" class="social-title">INSTAGRAM</a>
          </div>
      </div>
  </section>
</main>
