<main>
  <section id="about-me">
      <div id="bio-container">
          <div id="photo-container">
              <div class="edit-description-container">
                <a class="fa fa-pencil fa-config"></a>
                <a class="fa fa-trash fa-config"></a>
              </div>
              <figure>
                  <img src="../../../assets/personal/josuehoenicka.png" class="photo-item">
              </figure>
              <figcaption>
                  <p class="fig-name">{{name.nameUser}}</p>
                  <p class="fig-title">{{name.ocupation}}</p>
              </figcaption>
          </div>
          <div class="scroll-container">
            <div *ngFor="let experience of experience" class="description-config-container certification-config">
              <a class="fa fa-pencil fa-config"></a>
              <a class="fa fa-trash fa-config"></a>
              <p class="experience-items">{{experience.title}} en {{experience.company}}</p>
            </div>
            <a class="fa fa-plus fa-config"></a>
          </div>
          <div class="scroll-container">
            <div *ngFor="let education of certification" class="description-config-container certification-config">
                <a class="fa fa-pencil fa-config"></a>
                <a class="fa fa-trash fa-config"></a>
                <p class="certification-items">{{education.school}}<br> ↪ {{education.title}}</p>
            </div>
            <a class="fa fa-plus fa-config"></a>
          </div>
      </div>
  </section>
  <section id="skills">
      <div id="tech-container">
          <div id="tech-grid-container" >
            <div *ngFor="let tech of tech">
              <img [src]="tech.img" class="tech-items {{tech.level}}" title="{{tech.title}}">
            </div>
          </div>
      </div>
      <div id="lang-container">
          <div *ngFor="let languages of lang" class="lang-items">
              <img [src]="languages.img" class="flag-items">
              <p class="lvl-items">{{languages.level}}</p>
          </div>
          <div>
            <a class="fa fa-pencil fa-config-skills"><p class="fa-with-text">Editar habilidades</p></a>
          </div>
      </div>
  </section>
  <section id="projects">
      <div class="slideshow-container">
          <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
          <div>
            <div class="mySlides2">
              <h4 class="slider-title">NEW</h4>
              <p class="slider-description">Insert Project</p>
              <div id="slider-img-container">
                <img src="../../../assets/others/add.png" width="200">
              </div>
            </div>
            <div class="mySlides2">
                <h4 class="slider-title">Codebash</h4>
                <p class="slider-description">Ecommerce Store</p>
                <div id="slider-img-container">
                  <img src="../../../assets/projects/building.png" width="200">
                </div>
            </div>
            <div class="mySlides2">
                <h4 class="slider-title">Techanges</h4>
                <p class="slider-description">Social Media</p>
                <div id="slider-img-container">
                    <img src="../../../assets/projects/building.png" width="200">
                </div>
            </div>
            <div class="mySlides2">
              <h4 class="slider-title">Joniking</h4>
              <p class="slider-description">Website</p>
              <div id="slider-img-container">
                <img src="../../../assets/projects/building.png" width="200">
              </div>
            </div>
            <p id="deslizar-title">Click on the arrows</p>
          </div>
          <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
      </div>
  </section>
  <section id="contact">
      <div id="form-container">
          <input type="text" name="name" id="name" placeholder="Name" autocomplete="off">
          <input type="email" name="email" id="email" placeholder="Email" autocomplete="off" required>
          <textarea name="message" id="message" placeholder="Message"></textarea>
          <button type="submit" id="btn-form" onclick="buildingForm()">SEND</button>
      </div>
      <div id="social-container">
        <div id="github" class="social-items">
          <a href="https://github.com/josuehoenicka" target="_blank" class="fa fa-social fa-github"></a>
          <a href="https://github.com/josuehoenicka" target="_blank" class="social-title">GITHUB</a>
        </div>
        <div id="linkedin" class="social-items">
            <a href="https://www.linkedin.com/in/josuehoenicka/" target="_blank" class="fa fa-social fa-linkedin"></a>
            <a href="https://www.linkedin.com/in/josuehoenicka/" target="_blank" class="social-title">LINKEDIN</a>
        </div>
        <div id="youtube" class="social-items">
            <a href="https://www.youtube.com/channel/UC9iBosOLYhjDbCoPIjLR3lw" target="_blank" class="fa fa-social fa-youtube"></a>
            <a href="https://www.youtube.com/channel/UC9iBosOLYhjDbCoPIjLR3lw" target="_blank" class="social-title">YOUTUBE</a>
        </div>
        <div id="instagram" class="social-items">
            <a href="https://www.instagram.com/josuehoenicka/" target="_blank" class="fa fa-social fa-instagram"></a>
            <a href="https://www.instagram.com/josuehoenicka/" target="_blank" class="social-title">INSTAGRAM</a>
        </div>
      </div>
  </section>
</main>
