/*****************************************************************/
/*****************************************************************/
/**************************** imports ****************************/
/*****************************************************************/
/*****************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');

/*****************************************************************/
/*****************************************************************/
/**************************** general ****************************/
/*****************************************************************/
/*****************************************************************/

:root {
    --black-on: #03050c;
    --white-on: #dfe8ff;
    --white-off: #4e5985;
    --green_on: rgb(92, 226, 92);
    --green_off: rgb(161, 207, 161);
    --red_on: rgb(219, 35, 35);
    --red_off: rgb(223, 142, 142);
    --blue_on: rgb(6, 164, 255);
    --blue_off: rgb(119, 189, 235);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Alumni Sans Pinstripe';
    text-decoration: none;
    background-color: var(--black-on);
}

body::-webkit-scrollbar {
    display: none;
}
